name: Download and Upload File

on:
  push:
    branches:
      - main

jobs:
  download-and-upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download file from Google Drive
      run: |
        curl -L -o tool.zip 'https://drive.google.com/uc?export=download&id=1J8kXiYmSNFZNz3ia6pFuw_EkvK_bTAP9'
        
    - name: Install curlftpfs
      run: sudo apt-get install -y curlftpfs

    - name: Mount FTP directory
      run: |
        mkdir -p /lich
        curlftpfs -o user=${{ secrets.FTP_USER }}:${{ secrets.FTP_PASS }} 103.42.57.100 /lich
      env:
        FTP_USER: ${{ secrets.FTP_USER }}
        FTP_PASS: ${{ secrets.FTP_PASS }}

    - name: Upload file to FTP server
      run: |
        cp tool.zip /lich
    
    - name: Unmount FTP directory
      run: sudo umount /mnt/ftp
